html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: rgb(102, 102, 102);
  color: rgb(108, 117, 125);
  text-align: center;
  border-top: 8px solid rgb(74, 170, 165);
  flex-shrink: 0;
}
.content {
  flex: 1 0 auto;
}
.moveRight {
  text-align: right;
}
.backgroundImage {
  background-image: url(../ignasi_pattern_s.png);
}
.backgroundColor {
  background-color: rgb(74, 170, 165);
}
.whiteText {
  color: white !important;
}
.familyTimes {
  font-family: "Times New Roman", Times, serif;
}
